@import url(./fonts.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../img/cursor.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;

  /* overflow: hidden; */
}

::-webkit-scrollbar:hover {
  width: 15px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--titleClr);
}

::-webkit-scrollbar-track {
  background-color: var(--bgrClrCreateNotes);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border: 1px grey solid;
  background-color: var(--pColorPink);
  ;
}